.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top:20px;
}
body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}
.nameHeader{
    margin-top:20px;
    background-color: #8C55AA;
    height: 90px;
    padding:20px;
}

img {
    border-radius: 20%;
    padding: 10px;
    width: 500px;
    height: 400px;
    
  }
  .editButton {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .deleteButton {
    border-radius: 4px;
    background-color: #2bc766;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
