/*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
	background-color:#0C9;
}*/

.floatButton{
	position:fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:40px;
    
	color:#FFF;
	border-radius:50px;
	text-align:center;
	/*box-shadow: 2px 2px 3px #999;*/
}

.my-float{
	margin-top:22px;
}