{% load static %}
<html lang="en">
<title>name of the event</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href="{% static 'css/eventDetail.css' %}">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    </style>
<body>
<!-- Header -->
<header class="nameHeader" >
   <button class="button" style="vertical-align:middle; float:right">Register</button>
   <h1>Event 1 bdsjbvf </h1>
</header>

<div >  
    <div class="column1" >
      <img src="/static/img/abcimage.jpg" alt="Avatar" >
    </div>
    <div class="column2" >
        <p>Description of the eventescription of the event  escription of the event  escription of the event  
          escription of the event  escription of the event escription of the event 
          vvvescription of the event vescription of the event vvvvescription of 
          the event escription of the event  </p>
        <p ><i class="fas fa-calendar"></i>  Tuesday, 20th Feb 2020, The Owl,University of regina </p>
        <p>id required</p>
        <button class="editButton" style="vertical-align:middle;">Edit  <i class="fas fa-edit"></i></button>
        <button class="deleteButton" style="vertical-align:middle;">Delete <i class="fas fa-trash"></i></button>
      </div>
</div>

</body>
</html>

