{% load static %}
<html>
    <head>
        <link rel='stylesheet' href="/static/css/floatingButton.css">
    </head>
    <body>
        <!--<iframe height="80%" width="40%" src="" name="iframe_a" align="right" marginwidth="30" marginheight="20"></iframe>
             <p><a href="{% url 'chatbot' %}" class="float"target="iframe_a"><i class="fa fa-plus my-float"></i></a> 
        -->
        <a href="{% url 'chatbot' %}" class="float" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,titlebar=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=700,left=650,top=100'); return false;"><i class="fa fa-plus my-float"></i></a> 
    </body>
</html>
