{% load static %}
 <html>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel='stylesheet' href="/static/css/events.css">
  <link rel='stylesheet' href="/static/css/message.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Welcome</title>

<script>
function myFunction() {
  var x = document.getElementById("sucessSnackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
</script>

<body onload="myFunction()">
{% if messages %}
{% for message in messages %}
<div id="sucessSnackbar">{{ message }}</div>
{% endfor %}
{% endif %}
    <header class="nameHeader" >
        <h1 >Welcome {{request.user.username}}  </h1>
        <button class="topButton" onclick="location.href='logout_request';" style="vertical-align:middle;float:right">Logout</button>      
        {% if request.user.is_superuser %}
        <button class="topButton" onclick="location.href='addEvent';" style="vertical-align:middle;float:right">Add new Event</button>
         {% else %}
            {% if registeredList %}
            <button class="topButton" onclick="location.href='listAll';" style="vertical-align:middle;float:right">Show all Events</button>
            {% else %}
             <button class="topButton" onclick="location.href='listAllRegisteredEvents';" style="vertical-align:middle;float:right">Show all registered Events</button>
           {% endif %}
        {% endif %}  
         </header>

{% if registeredList %}
<h2 class ="subheader" >  List of your registered events </h2>
{% else %}
<h2 class ="subheader" >  List of all the events </h2>
{% endif %}
    <div class="row">
    {% for event in totalEvents %}
    <div class="column" id={{ event.id}}>
        <img src={{ event.image.url}} alt="Avatar" >
        {% if request.user.is_superuser %}
        <button class="editButton" style="vertical-align:middle; float:right" onclick="location.href='{% url 'editEvent' event.id %}';">Edit  <i class="fas fa-edit"></i></button>
        <button class="deleteButton" style="vertical-align:middle; float:right" onclick="location.href='{% url 'deleteEvent' event.id %}';">Delete  <i class="fas fa-trash"></i> </button>
        {% else %}
        {% if registeredList %}
        <p class="greenmessage" style="vertical-align:middle; float:right" >Already Registered  </p>
        {% elif event.id in registered %}
        <p class="greenmessage" style="vertical-align:middle; float:right" >Already Registered  </p>
        {% else %}
        <button class="deleteButton" style="vertical-align:middle; float:right" onclick="location.href='{% url 'registerEvent' event.id %}';">Register <i class="fas fa-check-square"></i> </button>
        {% endif %}
        {% endif %}
        <div onclick="location.href='{% url 'eventDetail' event.id %}';"><h2>{{ event.name }}</h2></div>
        <p class="venue"><i class="fas fa-calendar"></i>  {{ event.date }},{{ event.time }} at {{ event.address}},{{ event.city}} </p>
        <p> Event type : {{ event.eventType}} </p>
        <p> {{ event.description}} </p>
    </div>
    <hr class="rounded">
    {% endfor %}
    </div>  
</body>
</html>