{% load static %}
 <html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel='stylesheet' href="/static/css/forms.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Login</p>
    <form class="login" method="POST" action='listAllEvents'>
      {% csrf_token %}
      <input class="username"  name="username" type="text" align="center" placeholder="Username">
      <input class="password" name="password" type="password" align="center" placeholder="Password">
      <button class="submit"  type="submit" align="center">Sign in</button>
    </form>     
    
    </div>   
</body>
</html>