{% load static %}
 <html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel='stylesheet' href="/static/css/forms.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register</title>
</head>

<body>
  <div class="registerMain">
    <p class="sign" align="center">Register</p>    
    <p class="registerInfo" align="center">Please fill in this form to register.</p>
    <form class="register" method="POST" action='registerUser'>
    {% csrf_token %}
      <input class="username " name="username" type="text" align="center" placeholder="Username" >
      <input class="username " name="firstname" type="text" align="center" placeholder="First Name" >
      <input class="username " name="lastname" type="text" align="center" placeholder="Last Name" >
      <input class="username " name="email" type="text" align="center" placeholder="Email" >
      <input class="password" name="password" type="password" align="center" placeholder="Password">
      <input class="password" name="confirmPassword" type="password" align="center" placeholder="Confirm Password">
      <button class="submit"  type="submit" align="center">Register</button>
    </form> 
    </div>     
</body>
</html>